<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/asideproduct.css" />
  </head>
  <body>
    <object>
      <section class="brands">
        <p>Phone brands</p>
        <label for="samsung">Samsung</label
        ><input type="checkbox" name="samsung" id="samsung" /><br />
        <label for="apple">Apple</label
        ><input type="checkbox" name="apple" id="apple" /><br />
        <label for="xiaomi">Xiaomi</label
        ><input type="checkbox" name="xiaomi" id="xiaomi" /><br />
      </section>

      <section class="price">
        <p>Price (from to)</p>
        <input type="number" placeholder="€" /><span> - </span
        ><input type="number" placeholder="€" />
      </section>

      <section class="rest">
        <div>
          <p>Micro SD slot</p>
          <label for="yes">Yes</label
          ><input type="radio" name="yes" id="yes" /> <br />
          <label for="no">No</label><input type="radio" name="no" id="no" />
        </div>
        <hr />
        <div>
          <p>Dual SIM</p>
          <label for="yes">Yes</label
          ><input type="radio" name="yes" id="yes" /> <br />
          <label for="no">No</label><input type="radio" name="no" id="no" />
        </div>
        <hr />
        <div>
          <p>3.5mm audio jack</p>
          <label for="yes">Yes</label
          ><input type="radio" name="yes" id="yes" /> <br />
          <label for="no">No</label><input type="radio" name="no" id="no" />
        </div>
        <hr />
        <div>
          <p>RAM memory</p>
          <label for="4">4 GB</label
          ><input type="radio" name="4" id="4" /><br />
          <label for="6">6 GB</label
          ><input type="radio" name="6" id="6" /><br />
          <label for="8">8 GB</label
          ><input type="radio" name="8" id="8" /><br />
          <label for="12">12 GB</label><input type="radio" name="12" id="12" />
        </div>
        <hr />
        <div>
          <p>Fingerprint sensor</p>
          <label for="yes">Yes</label
          ><input type="radio" name="yes" id="yes" /> <br />
          <label for="no">No</label><input type="radio" name="no" id="no" />
        </div>
      </section>
    </object>
  </body>
</html>
