<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/asideBlog.css" />
  </head>
  <body>
    <object>
      <div class="btn">
        <button>Trending Tech</button>
        <button>Smartphone Reviews</button>
        <button>Photography Mastery</button>
        <button>Tech Talks</button>
      </div>

      <div class="input">
        <input type="text" placeholder="Search..." />
      </div>
    </object>
  </body>
</html>
