<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/blogCard.css" />
  </head>
  <body>
    <object>
      <a href="../blog-detail.html" target="_top">
        <img
          src="https://images.pexels.com/photos/799443/pexels-photo-799443.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="phone photo"
          class="cover"
        />
        <div class="info">
          <img
            src="https://images.pexels.com/photos/32976/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=600"
            alt="man image"
          />
          <div>
            <p>John Doe</p>
            <p>January 03, 2024 - 5 min</p>
          </div>
        </div>
        <h2>Behind the Lens: Exploring Smartphone Photography</h2>
      </a>
    </object>
  </body>
</html>
