* {
    margin: 0;
    padding: 0;
}

object {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div button {
    background-color: transparent;
    padding: 10px;
    border: 2px solid gray;
}

div input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    width: 200px;
}

button:hover {
    border: 2px solid goldenrod;
    color: goldenrod;
}

input:focus {
    outline: none;
}