* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    position: absolute;
    top: 200px;
    left: 10%;
    right: 10%;
}

.hero {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.hero p {
    margin-left: auto;
    font-size: smaller;
}

.hero h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.welcome {
    text-align: justify;
    margin-bottom: 30px
}

ol li h3 {
    font-size: 25px;
    margin: 20px 0;
}

ol li p {
    margin: 10px 0;
}

ul li {
    margin-left: 20px;
    margin-top: 5px;
}

body {
    min-height: 250vh;
    display: grid;
    grid-template-rows: 1fr auto;
}