@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&display=swap');

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100px;
    height: 150px;
    margin-left: 25%;
    margin-bottom: 15px;
}

body {
    overflow: hidden;
}

h2 {
    font-size: 14px;
}

p {
    font-size: smaller;
    margin: 5px 0;
}

button {
    border: none;
    background-color: transparent;
    margin: 15px 0;
    border-radius: 5px;
}

.compare {
    float: right;
    padding: 5px;
}

.buy {
    background-color: goldenrod;
    color: white;
    padding: 5px;
}

button svg {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (min-width: 320px) and (max-width: 767px) {
    h2 {
        margin: 5px;
    }

    p {
        margin-top: 20px;
    }

}