* {
    margin: 0;
    padding: 0;
}

.auto-height-iframe {
    border: none;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}